name: Test Scripts
on:
  push:
    branches:
      - master
    paths:
      - "**.sh"
  pull_request:
    branches:
      - master
    paths:
      - "**.sh"
  schedule:
    - cron: "5 1 * * 6" # Weekly on Saturdays at 01:05(GMT)

jobs:
  kinetic:
    runs-on: ubuntu-16.04
    strategy:
      matrix:
        package: [desktop, ros-base]
    env:
      ROS_DISTRO: kinetic
    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: |
          ./ros-${ROS_DISTRO}-${{ matrix.package }}.sh

  melodic:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        package: [desktop, ros-base]
        ros-repo: [main, testing]
    env:
      ROS_DISTRO: melodic
    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: |
          ./ros-${ROS_DISTRO}-${{ matrix.package }}-${{ matrix.ros-repo }}.sh

  noetic:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        package: [desktop, ros-base]
        ros-repo: [main, testing]
    env:
      ROS_DISTRO: noetic
    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: |
          ./ros-${ROS_DISTRO}-${{ matrix.package }}-${{ matrix.ros-repo }}.sh
